@model University.DAL.Models.StudentResult
@{
    ViewData["title"] = $"{ViewBag.studentName}'s Courses";
}

@if (ViewBag.isWrong is true)
{
    <h2>You have entered some wrong mark. Please enter all the mark carefully again.</h2>
}


<table class="my course table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.CourseName)</th>
            <th>@Html.DisplayNameFor(model => model.CourseCredit)</th>
            <th>@Html.DisplayNameFor(model=>model.Mark)</th>
            <th>@Html.DisplayNameFor(model=>model.GPA)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.myCourses)
        {
            <tr>
                <td>@item.CourseName</td>
                <td>@item.CourseCredit</td>
                <td>@item.Mark</td>
                <td>@item.GPA</td>
                <td>
                    <form asp-action="ResultCalculatorForEachCourse">
                        <label asp-for="Mark">Input Gain Mark</label>
                        <input asp-for="Mark" />
                        <input type="hidden" asp-for="CourseCode" value=@item.CourseCode />
                        <input type="hidden" asp-for="StudentId" value=@item.StudentId />
                        <input type="hidden" asp-for="Year" value="@item.Year" /> 
                        <input type="submit" value="Save" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (ViewBag.allEnrolled is true && ViewBag.isMarkNull is not true)
{
    if (ViewBag.needUpdate is true)
    {
        <h2>Year final GPA point is @ViewBag.recentYearFinalResult</h2>
        <a class="btn btn-info" href="@Url.Action("UpdateYearResult","xDepartment",new{id=@ViewBag.studentId, year=@ViewBag.year})">
            Update
        </a>
    }
    else
    {
        <a href="@Url.Action("GenerateYearFinalResult","xDepartment",new{studentId=@ViewBag.studentId})" , class="btn btn-info">
            Generate YearFinal Result
        </a>
    }
}
