@{
    ViewData["title"] = $"{@ViewBag.student}'s Result";
}



@if (ViewBag.year == "First Year")
{
    <div>
        <a href="@Url.Action("ResultCalculatorForEachCourse", "xDepartment", new{id=@ViewBag.studentId , year="First Year", isWrong=false})" class="btn btn-info">
            First Year Result
        </a>
    </div>
}
else if (ViewBag.year == "Second Year")
{
    <div>
        <a href="@Url.Action("ResultCalculatorForEachCourse", "xDepartment", new{id=@ViewBag.studentId , year="First Year", isWrong=false })" class="btn btn-info">
            First Year Result
        </a>
    </div>
    <div>
        <a href="@Url.Action("ResultCalculatorForEachCourse", "xDepartment", new{id=@ViewBag.studentId , year="Second Year", isWrong=false })" class="btn btn-success">
            Second Year Result
        </a>
    </div>
}
else if (ViewBag.year == "Third Year")
{
    <div>
        <a href="@Url.Action("ResultCalculatorForEachCourse", "xDepartment", new{id=@ViewBag.studentId , year="First Year", isWrong=false })" class="btn btn-info">
            First Year Result
        </a>
    </div>
    <div>
        <a href="@Url.Action("ResultCalculatorForEachCourse", "xDepartment", new{id=@ViewBag.studentId , year="Second Year", isWrong=false })" class="btn btn-success">
            Second Year Result
        </a>
    </div>
    <div>
        <a href="@Url.Action("ResultCalculatorForEachCourse", "xDepartment", new{id=@ViewBag.studentId , year="Third Year", isWrong=false })" class="btn btn-info">
            Third Year Result
        </a>
    </div>

}
else if (ViewBag.year == "Fourth Year")
{
    <div>
        <a href="@Url.Action("ResultCalculatorForEachCourse", "xDepartment", new{id=@ViewBag.studentId , year="First Year", isWrong=false })" class="btn btn-info">
            First Year Result
        </a>
    </div>
    <div>
        <a href="@Url.Action("ResultCalculatorForEachCourse", "xDepartment", new{id=@ViewBag.studentId , year="Second Year", isWrong=false })" class="btn btn-success">
            Second Year Result
        </a>
    </div>
    <div>
        <a href="@Url.Action("ResultCalculatorForEachCourse", "xDepartment", new{id=@ViewBag.studentId , year="Third Year", isWrong=false })" class="btn btn-info">
            Third Year Result
        </a>
    </div>
    <div>
        <a href="@Url.Action("ResultCalculatorForEachCourse", "xDepartment", new{id=@ViewBag.studentId , year="Fourth Year", isWrong=false })" class="btn btn-success">
            Fourth Year Result
        </a>
    </div>
}
else
{
    <div>
        <a href="@Url.Action("ResultCalculatorForEachCourse", "xDepartment", new{id=@ViewBag.studentId , year="First Year", isWrong=false })" class="btn btn-info">
            First Year Result
        </a>
    </div>
    <div>
        <a href="@Url.Action("ResultCalculatorForEachCourse", "xDepartment", new{id=@ViewBag.studentId , year="Second Year", isWrong=false })" class="btn btn-success">
            Second Year Result
        </a>
    </div>
    <div>
        <a href="@Url.Action("ResultCalculatorForEachCourse", "xDepartment", new{id=@ViewBag.studentId , year="Third Year", isWrong=false })" class="btn btn-info">
            Third Year Result
        </a>
    </div>
    <div>
        <a href="@Url.Action("ResultCalculatorForEachCourse", "xDepartment", new{id=@ViewBag.studentId , year="Fourth Year", isWrong=false })" class="btn btn-success">
            Fourth Year Result
        </a>
    </div>
    <div>
        <a href="@Url.Action("ResultCalculatorForEachCourse", "xDepartment", new{id=@ViewBag.studentId , year="Master's", isWrong=false })" class="btn btn-info">
            Master's Year Result
        </a>
    </div>
}



