@{
    ViewData["title"] = "All Year";
}
<div>
    <a class="btn btn-info" href="@Url.Action("ShowStudentsYearWise","xDepartment",new {deptId=ViewBag.dept,Year="First Year"})">
        First Year's Students
    </a>
</div>
<div>
    <a class="btn btn-success" href="@Url.Action("ShowStudentsYearWise","xDepartment",new {deptId=ViewBag.dept,Year="Second Year"})">
        Second Year's Students
    </a>
</div>
<div>
    <a class="btn btn-info" href="@Url.Action("ShowStudentsYearWise","xDepartment",new {deptId=ViewBag.dept,Year="Third Year"})">
        Third Year's Students
    </a>
</div>
<div>
    <a class="btn btn-success" href="@Url.Action("ShowStudentsYearWise","xDepartment",new {deptId=ViewBag.dept,Year="Fourth Year"})">
        Fourth Year's Students
    </a>
</div>
<div>
    <a class="btn btn-info" href="@Url.Action("ShowStudentsYearWise","xDepartment",new {deptId=ViewBag.dept,Year="Master's"})">
        Master's Students
    </a>
</div>
