@{
    ViewData["title"] = $"{@ViewBag.studentName}'s Profile";
}
<div>
    <a asp-action="CourseCanBeEnroll" asp-route-id="@ViewBag.stdId" class="btn btn-success">
        Enroll A New Course
    </a>
</div>
<div>
    <a asp-action="MyEnrolledCourses" asp-route-id="@ViewBag.stdId" class="btn btn-primary">
        My Enrolled Courses
    </a>
</div>
<div>
    <a asp-action="ShowResultYearWise" asp-route-id="@ViewBag.stdId" class="btn btn-success">
        My Year Final Result
    </a>
</div>
<div>
    <a asp-action="LibraryIssuedBooks" asp-route-id="@ViewBag.stdId" class="btn btn-primary">
        My Library Status
    </a>
</div>
<div>
    <a href="@Url.Action("CreateCertificateWithdrawRequest","User",new{applicantId=ViewBag.stdId,type="Student"})" class="btn btn-info">
        CreateRequest
    </a>
</div>
<div>
    <a href="@Url.Action("ShowRequest","User",new{applicantId=ViewBag.stdId})" class="btn btn-success">
        ShowRequest
    </a>
</div>