@using University.DAL.Models
@model IEnumerable<Book>
@using System.Security.Claims

@{
    ViewData["title"] = "All Book";
}

<div>
    <form asp-action="Index">
        <input name="searchString" type="search" class="form-control w-50"
            placeholder="Search by Book, Writer and Publication Name . . . ." />

        <button type="submit" class="btn btn-info">Search</button>
    </form>
    
</div>

<table class="book table">
    <thead>
        <tr>
            <th>Book Name</th>
            <th>Writer</th>
            <th>Publication</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Writer</td>
                <td>@item.Publication</td>
                <td>
                    
                    @if(User.HasClaim("Permission","Edit_Book"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                    }
                    else if(User.HasClaim("Permission","Delete_Book"))
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-success">Delete</a>
                    }
                    
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@if (User.HasClaim("Permission","Add_Book"))
{
    <a asp-action="Create" class="btn btn-primary">Add New Book</a>
}