@model IEnumerable<University.DAL.Models.LendBook>

@{
    ViewData["title"] = "ReturnBook";
}

@if(Model.Count() is 0)
{
    <h2>There is no issued book of this ID to return..</h2>
}
else
{
    <h2>Your issued book are...</h2>

    <table class="lendBook table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.StudentId)</th>
                <th>@Html.DisplayNameFor(model => model.StudentName)</th>
                <th>@Html.DisplayNameFor(model => model.BookId)</th>
                <th>@Html.DisplayNameFor(model => model.BookName)</th>
                <th>@Html.DisplayNameFor(model => model.Writer)</th>
                <th>@Html.DisplayNameFor(model => model.IssueDate)</th>
                <th>@Html.DisplayNameFor(model => model.ReturnDate)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.StudentId</td>
                    <td>@item.StudentName</td>
                    <td>@item.BookId</td>
                    <td>@item.BookName</td>
                    <td>@item.Writer</td>
                    <td>@item.IssueDate</td>
                    <td>@item.ReturnDate</td>
                    <td>
                        <a asp-action="ConfirmReturnBook" asp-route-id=@item.Id class="btn btn-primary">
                            ReturnBook
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
