@model IEnumerable<University.DAL.Models.Course> 

@{
    ViewData["title"] = "All Courses of University";
}

<h1>There are @Model.Count() Course in the below...</h1>

<table class="course table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model=>model.CourseCode)</th>
            <th>@Html.DisplayNameFor(model => model.CourseName)</th>
            <th>@Html.DisplayNameFor(model => model.CourseTeacher)</th>
            <th>@Html.DisplayNameFor(model => model.Department)</th>
            <th>@Html.DisplayNameFor(model => model.Credit)</th>
            <th>@Html.DisplayNameFor(model=>model.Year)</th>
            <th>IsLab</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem=>item.CourseCode)</td>
                <td>@Html.DisplayFor(modelItem => item.CourseName)</td>
                <td>@Html.DisplayFor(modelItem => item.CourseTeacher)</td>
                <td>@Html.DisplayFor(modelItem => item.Department)</td>
                <td>@Html.DisplayFor(modelItem => item.Credit)</td>
                <td>@Html.DisplayFor(modelItem=>item.Year)</td>
                <td>@item.IsLab</td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-info">Delete</a>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-info">add a new course</a>