@model IEnumerable<University.MVC.Models.Course> 

@{
    ViewData["title"] = "Index";
}

<h1>Course table is in the below...</h1>

<table class="course table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model=>model.CourseCode)</th>
            <th>@Html.DisplayNameFor(model => model.CourseName)</th>
            <th>@Html.DisplayNameFor(model => model.CourseTeacher)</th>
            <th>@Html.DisplayNameFor(model => model.Department)</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem=>item.CourseCode)</td>
                <td>@Html.DisplayFor(modelItem => item.CourseName)</td>
                <td>@Html.DisplayFor(modelItem => item.CourseTeacher)</td>
                <td>@Html.DisplayFor(modelItem => item.Department)</td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create">add a new course</a>